<%- include('parts/head') %>
    <%- include('parts/nav') %>
        <form action="/formsub" method="post" enctype="multipart/form-data">
            <div class="row justify-content-center">
                <div class="col-3 bg-info">
                    <fieldset>
                        <legend>Please select your action :</legend>
                        <div>
                            <input type="radio" id="contactChoice1" name="mod" value="rembg" checked />
                            <label for="contactChoice1">rembg</label>

                            <input type="radio" id="contactChoice2" name="mod" value="scale" />
                            <label for="contactChoice2">scale</label>
                        </div>
                    </fieldset>
                    <input type="submit">
                </div>
                <div class="col-7 bg-dark">
                    <div class="uploadOuter">
                        <label for="uploadFile" class="btn btn-primary">upload img</label>
                        <input name="image" type="file" id="uploadFile" class="btn btn-primary" hidden>
                    </div>
                    <div>
                        <img id="preview" src="<%= imageUrl %>" alt="">
                    </div>
                </div>
            </div>
        </form>

        <%- include('parts/footer') %>